# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Samuel Molinari
email = samuel@molinari.me
[core]
	excludesfile = /Users/samuelmolinari/.gitignore
	editor = nvim
